@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
  --red:#D01C28;
  --gray:#2e2e2e;
  
}
* {
  margin: 0;
}
body{
  font-family: "Poppins", sans-serif;
}

.container{
  max-width: 1280px;
  margin: 0 auto;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main.heroSection {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 1100px;
  margin: 50px auto;
}
.heroTop {
  max-width: 975px;
}
.heroFormSection {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.logo img{
  width: 72px;
  height: 72px;
}
ul {
  display: flex;
  list-style: none;
  gap: 24px;
}

.heroBottom{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.heroButton {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.heroButtonTop {
  display: flex;
  flex-direction: row;
  gap: 24px;
}
.heroForm-btn {
  margin: 20px 0;
}
.heroForm-btn button {
  background: #fff;
  color: #000;
  font-size: 16px;
  font-weight: 600;
  border-radius: 5px;
  width: 472px;
  height: 44px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
}
.heroForm {
  display: flex;
  flex-direction: row;
  gap: 16px;
}
